version: '3'
services:


  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres:/var/lib/postgres
    hostname: localhost
    ports:
      - 5000:5432
    networks:
      - queueon