version: '3'
services:

  pact-broker:
    image: pactfoundation/pact-broker
    ports:
      - "9292:9292"
    environment:
      PACT_BROKER_DATABASE_USERNAME: postgres
      PACT_BROKER_DATABASE_PASSWORD: admin
      PACT_BROKER_DATABASE_HOST: host.docker.internal
      PACT_BROKER_DATABASE_NAME: postgres
      PACT_BROKER_DATABASE_PORT: 5000
    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres:/var/lib/postgres
    hostname: localhost
    ports:
      - 5000:5432

volumes:
  postgres:
  pact-broker: